@model List<QuanLyTrungTam.ViewModels.CourseEnrollmentStatsViewModel>

<h2>Statistics of Student Enrollments by Course</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Course Id</th>
            <th>Course Name</th>
            <th>Enrollment Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Course.CourseId</td>
                <td>@item.Course.CourseName</td>
                <td>@item.EnrollmentCount</td>
            </tr>
        }
    </tbody>
</table>
